<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>5e take 3</title>
        <link href="/static/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
        <link href="/static/site.css" rel="stylesheet">
        <link href="https://cdn.rawgit.com/fponticelli/dicefont/fc6b8c47/dist/dicefont/dicefont.css" rel="stylesheet">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    </head>
    <body>
        <div id="sheet-container">
            <div id="sheet-core">
                <div id="sheet-header" class="row">
                    <div class="sheet-name-container">
                        <input id="character-name" style="width: 100%" type="text">
                        <span class="sheet-label" style="margin-top: 15px; text-align: left;margin-left: 30px;">CHARACTER NAME</span>
                    </div>
                    <div class="sheet-header-info sheet-display">
                        <div class="sheet-top row" style="width: 440px;margin-left: 14px!important;">
                            <div class="sheet-hlabel-container">
                                <input id="class" class="sheet-class-display sheet-no_events" type="text">
                                <span class="sheet-header-label">CLASS &amp; LEVEL</span>
                            </div>
                            <div class="sheet-hlabel-container">
                                <input id="background" type="text">
                                <span class="sheet-header-label">BACKGROUND</span>
                            </div>
                        </div>
                        <div class="sheet-bottom row" style="width: 440px;margin-left: 14px!important;">
                            <div class="sheet-hlabel-container">
                                <input id="race" class="sheet-no_events" type="text">
                                <span class="sheet-header-label">RACE</span>
                            </div>
                            <div class="sheet-hlabel-container">
                                <input id="alignment" type="text">
                                <span class="sheet-header-label">ALIGNMENT</span>
                            </div>
                            <div class="sheet-hlabel-container" style="position: relative">
                                <input id="experience" type="text">
                                <span class="sheet-header-label">EXPERIENCE POINTS</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sheet-body" class="row">
                    <div class="sheet-col">
                        <div id="attributes-container" style="margin-top: 10px">
                            <div class="sheet-attr-container" style="margin-top: 20px">
                                <label class="attr-label">STRENGTH</label>
                                <label id="strength_mod" class="sheet-attr" title="Strength mod">3</label>
                                <div class="sheet-attr-mod">
                                    <span id="strength" class="sheet-finalattr">17</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container">
                                <label class="attr-label">DEXTERITY</label>
                                <label id="dexterity_mod" class="sheet-attr" title="Dexterity mod">3</label>
                                <div class="sheet-attr-mod">
                                    <span id="dexterity" class="sheet-finalattr">17</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container">
                                <label class="attr-label">CONSTITUTION</label>
                                <label id="constitution_mod" class="sheet-attr" title="Constitution mod">3</label>
                                <div class="sheet-attr-mod">
                                    <span id="constitution" class="sheet-finalattr">17</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container">
                                <label class="attr-label">INTELLIGENCE</label>
                                <label id="intelligence_mod" class="sheet-attr" title="Intelligence mod">3</label>
                                <div class="sheet-attr-mod">
                                    <span class="sheet-finalattr" name="intelligence">17</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container">
                                <label class="attr-label">WISDOM</label>
                                <label id="wisdom_mod" class="sheet-attr" title="Wisdom mod">3</label>
                                <div class="sheet-attr-mod">
                                    <span class="sheet-finalattr" name="wisdom">17</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container" style="margin-bottom: 20px">
                                <label class="attr-label">CHARISMA</label>
                                <label id="charisma_mod" class="sheet-attr" title="Charisma mod">3</label>
                                <div class="sheet-attr-mod">
                                    <span class="sheet-finalattr" name="charisma">17</span>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-skills-saves-container">
                            <div class="sheet-insp-prof-container">
                                <div class="sheet-value">
                                    <span id="proficiency-bonus" title="Proficiency Bonus">2</span>
                                </div>
                                <div class="sheet-label">
                                    <span>PROFICIENCY BONUS</span>
                                </div>
                            </div>
                            <div class="sheet-saving-throw-container">
                                <div class="sheet-saving-throw">
                                    <input id="strength_save_prof" title="Strength save proficiency" type="checkbox">
                                    <span id="strength_save_bonus" class="save-bonus" title="Strength save bonus">5</span>
                                    <span class="sheet-label">Strength</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="dexterity_save_prof" title="Dexterity save proficiency" type="checkbox">
                                    <span id="dexterity_save_bonus" class="save-bonus" title="Dexterity save bonus">5</span>
                                    <span class="sheet-label">Dexterity</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="constitution_save_prof" title="Constitution save proficiency" type="checkbox">
                                    <span id="constitution_save_bonus" class="save-bonus" title="Constitution save bonus">5</span>
                                    <span class="sheet-label">Constitution</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="intelligence_save_prof" title="Intelligence save proficiency" type="checkbox">
                                    <span id="intelligence_save_bonus" class="save-bonus" title="Intelligence save bonus">5</span>
                                    <span class="sheet-label">Intelligence</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="wisdom_save_prof" title="Wisdom save proficiency}" type="checkbox">
                                    <span id="wisdom_save_bonus" class="save-bonus" title="Wisdom save bonus}">5</span>
                                    <span class="sheet-label">Wisdom</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="charisma_save_prof" title="Charisma save proficiency" type="checkbox">
                                    <span id="charisma_save_bonus" class="save-bonus" title="Charisma save bonus">5</span>
                                    <span class="sheet-label">Charisma</span>
                                </div>
                                <div class="sheet-label" style="margin-bottom: -10px">
                                    <span>SAVING THROWS</span>
                                </div>
                            </div>
                            <div class="sheet-skills-container sheet-skills-list">
                                <div>
                                    <div class="sheet-skill">
                                        <input name="attr_acrobatics_prof" title="acrobatics_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_acrobatics_bonus" title="acrobatics_bonus">3</span>
                                        <span class="sheet-label">Acrobatics(Dex)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_animal_handling_prof" title="animal_handling_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_animal_handling_bonus" title="animal_handling_bonus">2</span>
                                        <span class="sheet-label">Animal Handling(Wis)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_arcana_prof" title="arcana_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_arcana_bonus" title="arcana_bonus">1</span>
                                        <span class="sheet-label">Arcana(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_athletics_prof" title="athletics_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_athletics_bonus" title="athletics_bonus">5</span>
                                        <span class="sheet-label">Athletics(Str)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_deception_prof" title="deception_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_deception_bonus" title="deception_bonus">2</span>
                                        <span class="sheet-label">Deception(Cha)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_history_prof" title="history_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_history_bonus" title="history_bonus">1</span>
                                        <span class="sheet-label">History(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_insight_prof" title="insight_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_insight_bonus" title="insight_bonus">2</span>
                                        <span class="sheet-label">Insight(Wis)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_intimidation_prof" title="intimidation_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_intimidation_bonus" title="intimidation_bonus">4</span>
                                        <span class="sheet-label">Intimidation(Cha)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_investigation_prof" title="investigation_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_investigation_bonus" title="investigation_bonus">1</span>
                                        <span class="sheet-label">Investigation(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_medicine_prof" title="medicine_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_medicine_bonus" title="medicine_bonus">2</span>
                                        <span class="sheet-label">Medicine(Wis)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_nature_prof" title="nature_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_nature_bonus" title="nature_bonus">1</span>
                                        <span class="sheet-label">Nature(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_perception_prof" title="perception_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_perception_bonus" title="perception_bonus">4</span>
                                        <span class="sheet-label">Perception(Wis)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_performance_prof" title="performance_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_performance_bonus" title="performance_bonus">2</span>
                                        <span class="sheet-label">Performance(Cha)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_persuasion_prof" title="persuasion_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_persuasion_bonus" title="persuasion_bonus">2</span>
                                        <span class="sheet-label">Persuasion(Cha)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_religion_prof" title="religion_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_religion_bonus" title="religion_bonus">1</span>
                                        <span class="sheet-label">Religion(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_sleight_of_hand_prof" title="sleight_of_hand_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_sleight_of_hand_bonus" title="sleight_of_hand_bonus">3</span>
                                        <span class="sheet-label">Sleight of Hand(Dex)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_stealth_prof" title="stealth_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_stealth_bonus" title="stealth_bonus">5</span>
                                        <span class="sheet-label">Stealth(Dex)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_survival_prof" title="survival_prof" type="checkbox">
                                        <span class="skill-bonus" name="attr_survival_bonus" title="survival_bonus">2</span>
                                        <span class="sheet-label">Survival(Wis)</span>
                                    </div>
                                </div>
                                <div class="sheet-label" style="margin-bottom: -10px">
                                    <span>SKILLS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sheet-col sheet-col-following">
                        <div class="vitals-container">
                            <div class="sheet-ac-init-speed-container">
                                <div class="sheet-ac">
                                    <input name="attr_ac" title="@{ac}" type="text">
                                    <span class="sheet-label sheet-pc-ac" data-i18n="armor-class-u">ARMOR CLASS</span>
                                </div>
                                <div class="sheet-init">
                                    <input id="initiative_bonus" title="Initiative bonus" type="text">
                                    <span class="sheet-label">INITIATIVE</span>
                                </div>
                                <div class="sheet-speed">
                                    <input id="speed" title="Speed" type="text">
                                    <span class="sheet-label">SPEED</span>
                                </div>
                            </div>
                            <div class="sheet-hp">
                                <div class="sheet-top">
                                    <span>Hit Point Maximum</span>
                                    <input name="attr_hp_max" title="@{hp_max}" type="text">
                                </div>
                                <input name="attr_hp" title="@{hp}" type="number">
                                <span class="sheet-label" data-i18n="hp-current-u">CURRENT HIT POINTS</span>
                            </div>
                            <div class="sheet-hdice-dsaves-container" style="width: 242px">
                                <div class="sheet-subcontainer">
                                    <div class="row" style="margin-left: 8px!important;">
                                        <div class="sheet-money">
                                            <div class="sheet-coin">
                                                <span class="sheet-label">d6</span>
                                                <span class="df-d6-6"></span>
                                                <input name="attr_cp" title="d6" type="text">
                                            </div>
                                            <div class="sheet-coin">
                                                <span class="sheet-label">d8</span>
                                                <span class="df-d8-8"></span>
                                                <input name="attr_sp" title="d8" type="text">
                                            </div>
                                        </div>
                                        <div class="sheet-money">
                                            <div class="sheet-coin">
                                                <span class="sheet-label">d10</span>
                                                <span class="df-d10-10"></span>
                                                <input name="attr_ep" title="d10" type="text">
                                            </div>
                                            <div class="sheet-coin">
                                                <span class="sheet-label">d12</span>
                                                <span class="df-d12-12"></span>
                                                <input name="attr_gp" title="d12" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hit-dice-container">
                                        <input title="Total Hit Dice" type="text">
                                        <span class="sheet-label">TOTAL HIT DICE</span>
                                    </div>
                                    <span class="sheet-label">HIT DICE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sheet-col sheet-col-following">
                        <div id="personality-traits" class="sheet-textbox sheet-textbox-top">
                            <div class="sheet-options">
                                <textarea class="sheet-textarea" name="attr_personality_traits" style="min-height: 50px ; height: 50px"></textarea>
                            </div>
                            <div class="sheet-display">
                                <span id="personality-traits-text"></span>
                            </div>
                            <span class="sheet-label">PERSONALITY TRAITS</span>
                        </div>
                        <div id="ideals" class="sheet-textbox sheet-textbox-mid">
                            <div class="sheet-options">
                                <textarea class="sheet-textarea" name="ideas-text" style="min-height: 50px ; height: 50px"></textarea>
                            </div>
                            <span class="sheet-label">IDEAS</span>
                        </div>
                        <div id="bonds" class="sheet-textbox sheet-textbox-mid">
                            <div class="sheet-options">
                                <textarea class="sheet-textarea" name="bonds-text" style="min-height: 50px ; height: 50px"></textarea>
                            </div>
                            <span class="sheet-label">BONDS</span>
                        </div>
                        <div id="flaws" class="sheet-textbox sheet-textbox-bottom">
                            <div class="sheet-options">
                                <textarea class="sheet-textarea" name="flaws-text" style="min-height: 50px ; height: 50px"></textarea>
                            </div>
                            <span class="sheet-label">FLAWS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>