<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>5e take 3</title>
        <link href="/static/images/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
        <link href="/static/site.css" rel="stylesheet">
        <link href="https://cdn.rawgit.com/fponticelli/dicefont/fc6b8c47/dist/dicefont/dicefont.css" rel="stylesheet">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    </head>
    <body>
        <div id="sheet-container">
            <div id="sheet-core">
                <div id="sheet-header" class="row">
                    <div class="sheet-name-container">
                        <input id="character-name" style="width: 100%" type="text" value="{{ character.name }}">
                        <span class="sheet-label" style="margin-top: 15px; text-align: left;margin-left: 30px;">CHARACTER NAME</span>
                    </div>
                    <div class="sheet-header-info sheet-display">
                        <div class="sheet-top row" style="width: 440px;margin-left: 14px!important;">
                            <div class="sheet-hlabel-container">
                                <input id="class" class="sheet-class-display sheet-no_events" type="text" value="{{ character.class_name }}">
                                <span class="sheet-header-label">CLASS &amp; LEVEL</span>
                            </div>
                            <div class="sheet-hlabel-container">
                                <input id="background" type="text" value="{{ character.background }}">
                                <span class="sheet-header-label">BACKGROUND</span>
                            </div>
                        </div>
                        <div class="sheet-bottom row" style="width: 440px;margin-left: 14px!important;">
                            <div class="sheet-hlabel-container">
                                <input id="race" class="sheet-no_events" type="text" value="{{ character.age }} year old {{ character.gender[0] }} {{ character.race.name }}">
                                <span class="sheet-header-label">RACE</span>
                            </div>
                            <div class="sheet-hlabel-container">
                                <input id="alignment" type="text" value="{{ character.alignment}}">
                                <span class="sheet-header-label">ALIGNMENT</span>
                            </div>
                            <div class="sheet-hlabel-container" style="position: relative">
                                <input id="experience" type="text" value ="{{ character.experience_required[character.level-1] }}/{{ character.experience_required[character.level] }}">
                                <span class="sheet-header-label">EXPERIENCE POINTS</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sheet-body" class="row">
                    <div class="sheet-col">
                        <div id="attributes-container" style="margin-top: 10px">
                            <div class="sheet-attr-container" style="margin-top: 20px">
                                <label class="attr-label">STRENGTH</label>
                                <label id="strength_mod" class="sheet-attr" title="Strength mod">{{ character.strengthMod }}</label>
                                <div class="sheet-attr-mod">
                                    <span id="strength" class="sheet-finalattr">{{ character.strength }}</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container">
                                <label class="attr-label">DEXTERITY</label>
                                <label id="dexterity_mod" class="sheet-attr" title="Dexterity mod">{{ character.dexterityMod }}</label>
                                <div class="sheet-attr-mod">
                                    <span id="dexterity" class="sheet-finalattr">{{ character.dexterity }}</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container">
                                <label class="attr-label">CONSTITUTION</label>
                                <label id="constitution_mod" class="sheet-attr" title="Constitution mod">{{ character.constitutionMod }}</label>
                                <div class="sheet-attr-mod">
                                    <span id="constitution" class="sheet-finalattr">{{ character.constitution }}</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container">
                                <label class="attr-label">INTELLIGENCE</label>
                                <label id="intelligence_mod" class="sheet-attr" title="Intelligence mod">{{ character.intelligenceMod }}</label>
                                <div class="sheet-attr-mod">
                                    <span class="sheet-finalattr" name="intelligence">{{ character.intelligence }}</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container">
                                <label class="attr-label">WISDOM</label>
                                <label id="wisdom_mod" class="sheet-attr" title="Wisdom mod">{{ character.wisdomMod }}</label>
                                <div class="sheet-attr-mod">
                                    <span class="sheet-finalattr" name="wisdom">{{ character.wisdom }}</span>
                                </div>
                            </div>
                            <div class="sheet-attr-container" style="margin-bottom: 20px">
                                <label class="attr-label">CHARISMA</label>
                                <label id="charisma_mod" class="sheet-attr" title="Charisma mod">{{ character.charismaMod }}</label>
                                <div class="sheet-attr-mod">
                                    <span class="sheet-finalattr" name="charisma">{{ character.charisma }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="sheet-skills-saves-container">
                            <div class="sheet-insp-prof-container">
                                <div class="sheet-value">
                                    <span id="proficiency-bonus" title="Proficiency Bonus">{{ character.proficiencyBonus }}</span>
                                </div>
                                <div class="sheet-label">
                                    <span>PROFICIENCY BONUS</span>
                                </div>
                            </div>
                            <div class="sheet-saving-throw-container">
                                <div class="sheet-saving-throw">
                                    <input id="strength_save_prof" title="Strength save proficiency" type="checkbox" {% if character.strength_save_proficiency %} checked {% endif %}>
                                    <span id="strength_save_bonus" class="save-bonus" title="Strength save bonus">{{ character.strength_save }}</span>
                                    <span class="sheet-label">Strength</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="dexterity_save_prof" title="Dexterity save proficiency" type="checkbox" {% if character.dexterity_save_proficiency %} checked {% endif %}>
                                    <span id="dexterity_save_bonus" class="save-bonus" title="Dexterity save bonus">{{ character.dexterity_save }}</span>
                                    <span class="sheet-label">Dexterity</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="constitution_save_prof" title="Constitution save proficiency" type="checkbox" {% if character.constitution_save_proficiency %} checked {% endif %}>
                                    <span id="constitution_save_bonus" class="save-bonus" title="Constitution save bonus">{{ character.constitution_save }}</span>
                                    <span class="sheet-label">Constitution</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="intelligence_save_prof" title="Intelligence save proficiency" type="checkbox" {% if character.intelligence_save_proficiency %} checked {% endif %}>
                                    <span id="intelligence_save_bonus" class="save-bonus" title="Intelligence save bonus">{{ character.intelligence_save }}</span>
                                    <span class="sheet-label">Intelligence</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="wisdom_save_prof" title="Wisdom save proficiency}" type="checkbox" {% if character.wisdom_save_proficiency %} checked {% endif %}>
                                    <span id="wisdom_save_bonus" class="save-bonus" title="Wisdom save bonus}">{{ character.wisdom_save }}</span>
                                    <span class="sheet-label">Wisdom</span>
                                </div>
                                <div class="sheet-saving-throw">
                                    <input id="charisma_save_prof" title="Charisma save proficiency" type="checkbox" {% if character.charisma_save_proficiency %} checked {% endif %}>
                                    <span id="charisma_save_bonus" class="save-bonus" title="Charisma save bonus">{{ character.charisma_save }}</span>
                                    <span class="sheet-label">Charisma</span>
                                </div>
                                <div class="sheet-label" style="margin-bottom: -10px">
                                    <span>SAVING THROWS</span>
                                </div>
                            </div>
                            <div class="sheet-skills-container sheet-skills-list">
                                <div>
                                    <div class="sheet-skill">
                                        <input name="attr_acrobatics_prof" title="acrobatics_prof" type="checkbox" {% if character.acrobatics_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_acrobatics_bonus" title="acrobatics_bonus">{{ character.acrobatics }}</span>
                                        <span class="sheet-label">Acrobatics(Dex)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_animal_handling_prof" title="animal_handling_prof" type="checkbox" {% if character.animal_handling_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_animal_handling_bonus" title="animal_handling_bonus">{{ character.animal_handling }}</span>
                                        <span class="sheet-label">Animal Handling(Wis)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_arcana_prof" title="arcana_prof" type="checkbox" {% if character.arcana_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_arcana_bonus" title="arcana_bonus">{{ character.arcana }}</span>
                                        <span class="sheet-label">Arcana(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_athletics_prof" title="athletics_prof" type="checkbox" {% if character.athletics_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_athletics_bonus" title="athletics_bonus">{{ character.athletics }}</span>
                                        <span class="sheet-label">Athletics(Str)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_deception_prof" title="deception_prof" type="checkbox" {% if character.deception_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_deception_bonus" title="deception_bonus">{{ character.deception }}</span>
                                        <span class="sheet-label">Deception(Cha)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_history_prof" title="history_prof" type="checkbox" {% if character.history_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_history_bonus" title="history_bonus">{{ character.history }}</span>
                                        <span class="sheet-label">History(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_insight_prof" title="insight_prof" type="checkbox" {% if character.insight_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_insight_bonus" title="insight_bonus">{{ character.insight }}</span>
                                        <span class="sheet-label">Insight(Wis)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_intimidation_prof" title="intimidation_prof" type="checkbox" {% if character.intimidation_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_intimidation_bonus" title="intimidation_bonus">{{ character.intimidation }}</span>
                                        <span class="sheet-label">Intimidation(Cha)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_investigation_prof" title="investigation_prof" type="checkbox" {% if character.investigation_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_investigation_bonus" title="investigation_bonus">{{ character.investigation }}</span>
                                        <span class="sheet-label">Investigation(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_medicine_prof" title="medicine_prof" type="checkbox" {% if character.medicine_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_medicine_bonus" title="medicine_bonus">{{ character.medicine }}</span>
                                        <span class="sheet-label">Medicine(Wis)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_nature_prof" title="nature_prof" type="checkbox" {% if character.nature_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_nature_bonus" title="nature_bonus">{{ character.nature }}</span>
                                        <span class="sheet-label">Nature(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_perception_prof" title="perception_prof" type="checkbox" {% if character.perception_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_perception_bonus" title="perception_bonus">{{ character.perception }}</span>
                                        <span class="sheet-label">Perception(Wis)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_performance_prof" title="performance_prof" type="checkbox" {% if character.performance_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_performance_bonus" title="performance_bonus">{{ character.performance }}</span>
                                        <span class="sheet-label">Performance(Cha)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_persuasion_prof" title="persuasion_prof" type="checkbox" {% if character.persuasion_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_persuasion_bonus" title="persuasion_bonus">{{ character.persuasion }}</span>
                                        <span class="sheet-label">Persuasion(Cha)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_religion_prof" title="religion_prof" type="checkbox" {% if character.religion_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_religion_bonus" title="religion_bonus">{{ character.religion }}</span>
                                        <span class="sheet-label">Religion(Int)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_sleight_of_hand_prof" title="sleight_of_hand_prof" type="checkbox" {% if character.sleight_of_hand_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_sleight_of_hand_bonus" title="sleight_of_hand_bonus">{{ character.sleight_of_hand }}</span>
                                        <span class="sheet-label">Sleight of Hand(Dex)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_stealth_prof" title="stealth_prof" type="checkbox" {% if character.stealth_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_stealth_bonus" title="stealth_bonus">{{ character.stealth }}</span>
                                        <span class="sheet-label">Stealth(Dex)</span>
                                    </div>
                                    <div class="sheet-skill">
                                        <input name="attr_survival_prof" title="survival_prof" type="checkbox" {% if character.survival_proficiency %} checked {% endif %}>
                                        <span class="skill-bonus" name="attr_survival_bonus" title="survival_bonus">{{ character.survival }}</span>
                                        <span class="sheet-label">Survival(Wis)</span>
                                    </div>
                                </div>
                                <div class="sheet-label" style="margin-bottom: -10px">
                                    <span>SKILLS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sheet-col sheet-col-following">
                        <div class="vitals-container">
                            <div class="sheet-ac-init-speed-container">
                                <div class="sheet-ac">
                                    <input name="attr_ac" title="Armor Class" type="text" value="{{ character.ac }}">
                                    <span class="sheet-label sheet-pc-ac">ARMOR CLASS</span>
                                </div>
                                <div class="sheet-init">
                                    <input id="initiative_bonus" title="Initiative bonus" type="text" value="{{ character.initiative }}">
                                    <span class="sheet-label">INITIATIVE</span>
                                </div>
                                <div class="sheet-speed">
                                    <input id="speed" title="Speed" type="text" value="{{ character.move_speed_ft }}">
                                    <span class="sheet-label">SPEED</span>
                                </div>
                            </div>
                            <div class="sheet-hp">
                                <div class="sheet-top">
                                    <span>Hit Point Maximum</span>
                                    <input name="attr_hp_max" title="Max hp" type="text" value="{{ character.hp }}">
                                </div>
                                <input name="attr_hp" title="hp" type="number" value="{{ character.hp }}">
                                <span class="sheet-label" data-i18n="hp-current-u">CURRENT HIT POINTS</span>
                            </div>
                            <div class="sheet-hdice-dsaves-container">
                                <div class="sheet-subcontainer">
                                    <div class="row" style="margin-left: 8px!important;">
                                        <div class="sheet-money">
                                            <div class="sheet-coin">
                                                <span class="sheet-label">d6</span>
                                                <span class="df-d6-6"></span>
                                                <input name="attr_cp" title="d6" type="text" value="{{ character.hit_dice_d6 }}">
                                            </div>
                                            <div class="sheet-coin">
                                                <span class="sheet-label">d8</span>
                                                <span class="df-d8-8"></span>
                                                <input name="attr_sp" title="d8" type="text" value="{{ character.hit_dice_d8 }}">
                                            </div>
                                        </div>
                                        <div class="sheet-money">
                                            <div class="sheet-coin">
                                                <span class="sheet-label">d10</span>
                                                <span class="df-d10-10"></span>
                                                <input name="attr_ep" title="d10" type="text" value="{{ character.hit_dice_d10 }}">
                                            </div>
                                            <div class="sheet-coin">
                                                <span class="sheet-label">d12</span>
                                                <span class="df-d12-12"></span>
                                                <input name="attr_gp" title="d12" type="text" value="{{ character.hit_dice_d12 }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hit-dice-container">
                                        <input title="Total Hit Dice" type="text" value="{{ character.total_hit_dice }}">
                                        <span class="sheet-label">TOTAL HIT DICE</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sheet-col sheet-col-following">
                        <div id="personality-traits" class="sheet-textbox sheet-textbox-top">
                            <div class="sheet-options">
                                <textarea class="sheet-textarea" name="attr_personality_traits" style="min-height: 50px ; height: 50px" >{{ character.personality_traits }}</textarea>
                            </div>
                            <div class="sheet-display">
                                <span id="personality-traits-text"></span>
                            </div>
                            <span class="sheet-label">PERSONALITY TRAITS</span>
                        </div>
                        <div id="ideals" class="sheet-textbox sheet-textbox-mid">
                            <div class="sheet-options">
                                <textarea class="sheet-textarea" name="ideas-text" style="min-height: 50px ; height: 50px">{{ character.ideals }}</textarea>
                            </div>
                            <span class="sheet-label">IDEALS</span>
                        </div>
                        <div id="bonds" class="sheet-textbox sheet-textbox-mid">
                            <div class="sheet-options">
                                <textarea class="sheet-textarea" name="bonds-text" style="min-height: 50px ; height: 50px">{{ character.bonds }}</textarea>
                            </div>
                            <span class="sheet-label">BONDS</span>
                        </div>
                        <div id="flaws" class="sheet-textbox sheet-textbox-bottom">
                            <div class="sheet-options">
                                <textarea class="sheet-textarea" name="flaws-text" style="min-height: 50px ; height: 50px">{{ character.flaws }}</textarea>
                            </div>
                            <span class="sheet-label">FLAWS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>